<h1>Test</h1>

<--
<div style="visibility:hidden">
<audio autoplay loop>
    <source src="akordeon.mp3">
</audio> 


{% for item in site.data.main_list.toc %}
    {% if item.subfolderitems %}
        <button class="acc_style acc_button">{{ item.title }}</button>
        <div class="acc_panel">
            {% for entry in item.subfolderitems %}
                <a class="acc_option" href="{{ site.baseurl }}/{{ entry.url }}">{{ entry.page }}</a>
            {% endfor %}
        </div>
    {% else %}
        <a class="acc_style accordion" href="{{ site.baseurl }}/{{ item.url }}">{{ item.title }}</a>
    {% endif %}
{% endfor %}

<script>
    var acc = document.getElementsByClassName('acc_button');

    var i;
    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;

            if (panel.style.display == "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>
