<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/desktop.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/mobile.css">

{% if page.use_highlight %}
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/syntax_highlight.css">
{% endif %}

{% if page.gen_style %}
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/gen_style.css">
{% endif %}

{% if page.pass_style %}
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/pass_style.css">
{% endif %}
