<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/main.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/header_style.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/nav_style.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/accordion.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/gen_style.css">

{% if page.use_highlight %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/syntax_highlight.css">
{% endif %}
