<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    extensions: ["tex2jax.js","toMathML.js"],
    TeX: { extensions: ["color.js","AMSsymbols.js","AMSmath.js"] },
    jax: ["input/TeX","output/HTML-CSS"],
    tex2jax: {
       inlineMath: [ ["\\(","\\)"] ],
       displayMath: [ ["\\[","\\]"] ],
       ignoreClass: "tex2jax_ignore|myignore"
    },
    displayAlign: "center"
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js&locale=pl"> </script>
