<div class="navigation">
    <button class="nav-elem nav-button">Menu główne</button>
    <nav class="nav-panel panel">
        {% for item in site.data.main_list.toc %}
        {% if item.subfolderitems %}
        <div class="sub-dropdown">
            <button class="dropdown-button">{{ item.title }}</button>
            <div class="dropdown-panel">
                {% for entry in item.subfolderitems %}
                <a href="{{ site.baseurl }}/{{ entry.url }}">{{ entry.page }}</a>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <a class="nav-elem" href="{{ site.baseurl }}/{{ item.url }}">{{ item.title }}</a>
        {% endif %}
        {% endfor %}
    </nav>
</div>
