.acc_style {
    color: #444;
    background: #e5e5e5;
    cursor: pointer;
    padding: 1rem;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    font-family: Arial;
    outline: none;
    font-size: 0.9rem;
    transition: 0.4s;
    display: block;
}

.acc_active, .acc_style:hover {
    background-color: #ccc;
    text-decoration: none;
}

.acc_button.acc_active:after {
    content: "\2212";
}

.acc_button {
    border: none;
    width: 100%;
}

.acc_button:after {
    content: "\002B";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 1rem;
}

.acc_option {
    background: none;
    margin: 0;
    border: none;
}

.acc_option:hover {
    background-color: white;
}

.acc_panel {
    z-index: 100;

    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 0;
    background-color: #f1f1f1;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.mobile_acc_drop_content {
    max-height: 0;
}

@media screen and (min-width: 800px) {
    .moblie_acc_drop {
        display: none;
    }
}
