.content {
    text-align: justify;
}

.content a {
    color: green;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.content hr {
    height: 1px;
    background-color: #999;
    font-size: 0;
    border: 0;
    box-shadow: 0 0 0.5px 0.5px rgba(0,0,0,0.06);
}

div.highlight, .math-box, .def-box, .theorem-box, .fact-box {
    box-shadow: inset 0 0 0.2em 0.2em rgba(0,0,0,0.4);
    background-color: #444;
    color: white;
    padding: 0.01em 0.8em;
}

pre.highlight > code {
    margin-right: 1em;
}

.content h1:first-of-type {
    margin-top: 0;
}

.content h2:first-of-type {
    margin-top: 0;
}

.math-box, .def-box, .theorem-box, .fact-box {
    color: #e9e9e9;
}

div.highlight, .math-box, .table-box, .def-box, .theorem-box, .fact-box, .MathJax_Display {
    overflow-x: auto;
    overflow-y: hidden;
}

table {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
    box-shadow: 0 0 0.2em 0.2em rgba(0,0,0,0.05);
}

th, td {
    border:1px solid #aaa;
    padding: 0.4em;
    box-shadow: inset 0 0 0.2em 0.2em rgba(0,0,0,0.03);
}

th {
    font-weight: bold;
    background: #ddd;
}

td {
    background: red;
    background: #eee;
}

@font-face {
	font-family: 'UnifrakturMaguntia';
	src: local('UnifrakturMaguntia'),
		url('/fonts/UnifrakturMaguntia.2016-02-21.woff2') format('woff2'),
		url('/fonts/UnifrakturMaguntia.2016-02-21.woff') format('woff'),
		url('/fonts/UnifrakturMaguntia.2016-02-21.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'UnifrakturCook';
	src: local('UnifrakturCook'),
		url('/fonts/UnifrakturCook.2013-08-25.woff2') format('woff2'),
		url('/fonts/UnifrakturCook.2013-08-25.woff') format('woff'),
		url('/fonts/UnifrakturCook.2013-08-25.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: UnifrakturMaguntia;
}
h1, h2, h3, #navigation p, dt, th {
	font-family: UnifrakturCook;
}	

