* {
    box-sizing: border-box;
    font-family: Arial;
    /*border: 1px black solid;*/
}

#container {
    width: 100%;
    max-width: 1080px;
    margin: auto;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    height: 1px;
    color: #999;
    background-color: #999;
    font-size: 0;
    border: 0;
    box-shadow: 0 0 0.5px 0.5px rgba(0,0,0,0.06);
}

.row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.vertical_menu {
    flex: 1;
    flex-grow: 1;
    background-color: #e5e5e5;
}

.content_column, .content_box {
    background-color: #dddddd;
}

.content_box, .content_column {
    flex: 1;
    padding: 1rem 1rem;
    padding-top: 0;
}

.content_column {
    flex-grow: 3;
}

div.highlight {
    box-shadow: inset 0 0 0.2em 0.2em rgba(0,0,0,0.4);
    background-color: #444;
    padding: 0.01em 0.8em;
}

@media screen and (min-width: 800px) {
    .row {
        flex-direction: row;
    }
}
