* {
    box-sizing: border-box;
    font-family: Arial;
    /*border: 1px black solid;*/
}

#container {
    width: 100%;
    max-width: 1080px;
    margin: auto;
}

.row {
    display: flex;
    width: 100%;
}

.vertical_menu {
    flex: 1;
    flex-grow: 1;
    background-color: #e5e5e5;
}

.content_column, .content_box {
    background-color: #dddddd;
}

.content_box, .content_column {
    flex: 1;
    padding: 1rem 1rem;
    padding-top: 0;
}

.content_column {
    flex-grow: 3;
}
