/*
* {
    border: 1px solid black;
}
*/


#container {
    width: 100%;
    max-width: 1080px;
    margin: auto;
}

.content {
    font-size: 1.1rem;
    background-color: #dddddd;
}

.content_box {
    padding: 0.1rem 1rem;
    padding-bottom: 1rem;
    background-color: #dddddd;
}

.vertical_menu {
    width: 22%;
    float: left;
}

.content_column {
    width: 78%;
    float: left;
}

.row {
    display: table;
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
