<!DOCTYPE html>
<html lang="pl">
    <head>
        {% include default_head.html %}
    </head>

    <body>
        <div id="container">
            {% include header.html %}
            {% include navigation.html %}

            <div class="content row">
                <div class="vertical_menu">
                    {% include accordion.html %}
                </div>
                <div class="content_column">
                    {{ content }}
                </div>
            </div>
        </div>
    </body>
</html>
